[user]
  # These values are set in ~/.gitconfig.local
[include]
  path = ~/.gitconfig.local

[core]
  editor = nvim
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  tool = nvimdiff
[merge]
  tool = nvimdiff
[push]
  autoSetupRemote = true
[fetch]
  prune = true
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
